= simple_form_for @client do |f|
  .col-md-6.col-md-offset-3
    .text-left.guest-form
      .headline.text-center
        %h1 Guest Applicant
      .text-right
        * All Fields Required
      .col-md-6.form-group 
        = f.input :first_name, input_html: { class: 'form-control' }, label: 'First Name'     
      .col-md-6.form-group   
        = f.input :last_name, input_html: { class: 'form-control' }, label: 'Last Name'
      .col-md-6.form-group   
        = f.input :email, input_html: { class: 'form-control' }, label:  'Email Address'
      .col-md-6.form-group   
        = f.input :phone_num, input_html: { class: 'form-control' }, label: 'Phone Number'
      .col-md-6.form-group 
        = f.input :sin, input_html: { class: 'form-control' }, label: 'SIN Number'
      .col-md-6.form-group
        = f.input :dob, input_html: { class: 'datepicker form-control' }, label: 'Date of Birth (YYYY/MM/DD)'
        %br
      = f.submit "Apply for Your NOA", class: 'btn btn-default'
      %hr
      .col-md-12
        %p Are you a mortgage broker? Please provide your email, so we may share the documents with you upon completion.
        = f.input :broker_id, class: 'form-control', label: 'Broker Email'   
        %br   
        %p Can't find your account?
        = link_to "Create One Now", new_user_registration_path(@broker), class: 'btn btn-default'
      